* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-blue-60: #0060df;
  --color-blue-70: #003eaa;
  --color-gray-20: #dedede;
  --color-light-gray: #F0F0F4;
  --color-light-gray-53: #53575a;
  --color-dark-gray-32: #323537;
  --color-dark-gray-28: #282c2d;
  --color-dark-gray-20: #202224;
  --color-white: #ffffff;
  --color-black: #000000;
}

body {
  font-family: 'Inconsolata', monospace;
}

main {
  background-color: var(--color-dark-gray-20);
  color: var(--color-light-gray);
}

input[type="file"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  height: 100vh;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidePanel {
  flex-basis: 30%;
  background-color: var(--color-dark-gray-28);
  color: var(--color-gray-20);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
}

.btn {
  background-color: var(--color-blue-60);
  color: var(--color-white);
  border: none;
  padding: 0 50px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.75;
  cursor: pointer;
}

.preview {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: white;
  border: 1px solid var(--color-black);
}

.preview > img {
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: scale-down;;
}

.fieldset {
  border: none;
  display: inline-flex;
  gap: 5px;
}

.fieldset input[type="number"] {
  background-color: var(--color-dark-gray-32);
  border-color: var(--color-light-gray-53);
  color: var(--color-white);
  appearance: textfield;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
}

.fieldset label {
  cursor: pointer;
}

.row {
  display: inline-flex;
  width: 100%;
  gap: 20px;
}

.divider {
  height: 1px;
  border: none;
  margin: 20px 0;
  background: var(--color-light-gray);
}